<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Code Sender{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
        :root {
            font-size: 10px;
        }

        body {
            padding-inline: 3rem;
            padding-block: 1rem;
        }
    </style>
</head>
<body>
    <div class="content">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-end">
                <div class="navbar-menu is-active">
                    <a class="navbar-item is-tab" href="{{ url_for('index') }}">
                        Inicio
                    </a>
                    <a class="navbar-item is-tab" href="{{ url_for('about') }}">
                        Acerca de
                    </a>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>