{% extends "base.html" %}

{% block title %}Code Sender - Envío de Códigos{% endblock %}

{% block content %}
<h1>Code Sender</h1>
<p>
    Envía códigos únicos y anónimos a una lista de correos electrónicos
</p>

<form method="POST">
    <div class="field">
        <label class="label">API Key de SendGrid</label>
        <div class="control">
            <input class="input" type="password" placeholder="Ingresa tu API Key de SendGrid">
            <small style="color: #666;">Tu API Key se usa solo para este envío y no se almacena.</small>
        </div>
    </div>

    <div class="field">
        <label class="label">Lista de Correos Electrónicos:</label>
        <div class="control pb-4">
            <input class="input" type="input" placeholder="usuario1@ejemplo.com">
        </div>

        <button class="button is-dark is-fullwidth">➕ Agregar otro correo</button>
    </div>
    
    <button class="button is-primary is-large is-fullwidth" type="submit">Enviar códigos</button>
</form>
{% endblock %}